body {
    
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
  }
  
  header {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  h1 {
    margin: 0;
    font-size: 2rem;
    color: #ffc107; 
  }
  
  main {
    padding: 20px;
  }
  
  footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  
  .verse-item {
    background-color: #fff; 
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease;
  }
  
  .verse-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin: 0;
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #007bff; 
  }
  
  p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
  }
  
  strong {
    font-weight: bold;
  }
  
  
  @media (max-width: 768px) {
    h1 {
      font-size: 1.5rem;
    }
    
    h2 {
      font-size: 1.25rem;
    }
  }
  